<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USBCopyer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <USBCopyer.Properties.Settings>
            <setting name="dir" serializeAs="String">
                <value />
            </setting>
            <setting name="conflict" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autorm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hidemsg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sleep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="black" serializeAs="String">
                <value />
            </setting>
            <setting name="white" serializeAs="String">
                <value />
            </setting>
            <setting name="copynoext" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="blackdisk" serializeAs="String">
                <value />
            </setting>
            <setting name="blackid" serializeAs="String">
                <value />
            </setting>
            <setting name="autorunhide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="multirun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filesizetype" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filesize" serializeAs="String">
                <value>1000</value>
            </setting>
        </USBCopyer.Properties.Settings>
    </userSettings>
</configuration>